body {
    background-color: #1b1a18;
    margin: 30px;
}

h1 {
    color: #539165;
}

h2{
    color: rgb(5, 5, 36);
}

hr {
    border-style: dotted none none;
    border-top-style: dotted;
    border-color: rgb(238, 228, 228);
    border-width: 5px;
    width: 5%;
}

p {
    color: antiquewhite;
}

img {
    border-radius: 10%;
    height: 300px;
    width: 300px;
}

a {
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    margin-left: 40px;
}

a:hover {
    background: #2b1501;
}

body form {
    text-align: justify;
    margin: 20px;
}

body form input {
    text-align: center;
}